.body {
    background-image: url(background.jpg);
    align-content: center;
    color: rgba(255, 255, 255, 0.112);
}

.container img {
    align-content: flex-start;
    justify-content: center;
    background-size: cover;
    margin-right: 30px;
    margin: inline start 20px;
    width: 100px;
    background-color: rgba(240, 248, 255, 0.04);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.container {
    background-image: url(background.jpg);
    background-size: cover;
    align-content: center;
    justify-content: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.container span {
    color: rgba(255, 0, 0, 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    top: 50px;
}

.container p {
    font-size: 25px;
    font-family: sans-serif;
    display: flex;
    align-content: center;
    justify-content: left;

}